rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /explorar/{document=**} {
      allow read;
      allow write, update, delete: if getUserData().roles.admin == false;
    }
    
    match /users/{userId} {
    	allow read: if isSignedIn();
      allow write: if true;
      allow update, delete: if isOwner(userId) && emailVerified();
    }
    
    function emailVerified(){
    	return request.auth.token.email_verified
    }
    
    function isOwner(userId){
    	return request.auth.uid == userId
    }
    
    function isSignedIn(){
    	return request.auth != null
    }
    
    function getUserData(){
    	return get(/databases/{database}/documents/users/$(request.auth.uid))
    }
   
  }
}